	<nav class="navbar navbar-default">
		
		<div class="container">
			
			<%= link_to "SocialBet", root_path, class: "navbar-brand" %>

			<div class="pull-right">
				
				<a href="" class="btn btn-default navbar-btn">Sign In</a>

				<a href="" class="btn btn-primary navbar-btn">Sign Up</a>

			</div><!-- /.pull-right -->

		</div><!-- /.container -->

	</nav><!-- /.navbar navbar-default -->